@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f172a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .range-thumb-only {
    pointer-events: none;
  }

  .range-thumb-only::-webkit-slider-thumb {
    pointer-events: auto;
    cursor: ew-resize;
    -webkit-appearance: none;
    width: 24px;
    /* Slightly wider for easier grabbing */
    height: 48px;
    background: red;
    /* Debug color, will be hidden by opacity-0 on parent */
  }

  .range-thumb-only::-moz-range-thumb {
    pointer-events: auto;
    cursor: ew-resize;
    border: none;
    width: 24px;
    height: 48px;
  }
}